/*Login in*/
#h1_h42 {
color: grey;
  text-align: center;
  font-family: sans-serif;
  font: 40px;
}

#login_group2 {
padding-top: 70px;
display: flex;
flex-flow: column;
align-items: center;
}

#form-group2 {
  padding-bottom: 15px;

}
#bodyID  {
background: radial-gradient(circle, rgb(209, 252, 153), white);
}


#pass2 {
  padding-bottom: 15px;

}

#signup2 {
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;


}
.login_button2 {
  background-color: rgb(70, 224, 215);
  color: gray;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 5px;
  width: 200px;
  border: 2px solid gray;
  height: 40px;


}

.login_button2:hover{
  background-color: rgb(125, 201, 98);
  color: white;
}
#h1_h42 {
  margin-top: 15%;
  margin-bottom:0%;

}
h1 {
  font-size: 50px;

}
#sign_up_button2 {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color:gray;
  border: 2px solid gray;
  font-family: sans-serif;
  font-size: 15px;
}
#sign_up_button2:hover {
  background-color: rgb(125, 201, 98);
  color: white;
}


/*Sign Up */
#signupBody {
  background: radial-gradient(circle, rgb(205, 164, 242),  white);

}
#h1_h4 {
color: white;
  text-align: center;
  margin-top: 15%;
}

#login_group {
padding-top: 70px;
display: flex;
flex-flow: column;
align-items: center;
}

#form-group {
  padding-bottom: 15px;
}

#pass {
  padding-bottom: 15px;

}

#signup {
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;

}
.sign_up_button {
  background-color: rgb(186, 185, 187);
  width: 200px;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  border-color: 2px solid gray;
  color: gray;
}
.sign_up_button:hover {
  background-color: rgb(144, 90, 150) ;
  color: white;
}
.login_button{
  width:100px;
  border-radius: 5px;
  height: 40px;
  font-family: sans-serif;
  font-size: 15px;
background-color: rgb(201, 141, 230);
border-color: 2px solid white;
}
.login_button:hover {
  background-color: white;
  color: gray;
}



/*Event view*/

* {
  /*border: 1px solid red;*/
  font-family:'Roboto', sans-serif;
  margin: 0;
}
#eventviewbody {
  background: radial-gradient(circle ,rgb(140, 183, 255),  white);


}
.navigation{
  background-color: rgb(211, 211, 211);
  font-size: 14pt;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.button:hover {
background-color:  rgb(140, 183, 255);
color: white;

}


.button {
  border: 2px solid gray;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
height: 35px;
text-decoration: none;
font-family: sans-serif;
font-size: 20px;
color: gray;;
padding: 5px;
margin-left: 15px;
}
.company p {
  font-size:30px;
  font-family: sans-serif;
  color: gray;
}
div .company {
  float: left;
  color: rgb(42, 42, 42);
}
.container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.eventName{
  width: 800px;
}
h1 {
  text-align: center;
}
.eventInfo{
  margin-top: 100px;
}
h3 {
  font-weight: bolder;
}
.about {
  margin: 30px;
}
.verticleLine {
  border: 1px solid rgb(42, 42, 42);
}
h2 {
  text-align: center;
}
.userBoxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 485px;
}
span {
  border: 1px black solid;
  width: 400px;
  height: 40px;
  margin: 20px;
  box-shadow: 10px 10px 5px #888888;
  padding: 5px;
}
head {
  border-color: 3px solid gray;;

}
/* Event List CSS */
#navvy {
  background-color: rgb(204, 159, 236);
  border: 2px solid gray;
  width: 100%;
  height: 60px;
  padding: 1%;
  margin: 0%;
}
#navText {
  font-size:50px;
  font-family: sans-serif;
  color: gray;
  font-style: normal;
  font-weight: lighter;
display: flex;
justify-content: flex-start;

}
#container1 , #container2, #container3 , #container4  {
display: block;
border: 1px solid gray;
height: 100px;
width: 25%;
margin-top: 30px;
margin-bottom: 30px;
margin-left:18%;
border-radius: 5px;
float: left;
box-shadow: 5px 5px 5px #888888;
border-radius: 5px;
}
#container5, #container6, #container7, #container8 {
  display: block;
  border: 1px solid gray;
  height: 100px;
  width: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:18%;
  border-radius: 5px;
  float: right;
box-shadow: 5px 5px 5px #888888;
border-radius: 5px;
}
#container7,  #container6 {
  float: left;
}
#container5, #container8 {
  float: left;
}
#rsvp1:hover, #rsvp2:hover , #rsvp3:hover, #rsvp4:hover, #rsvp5:hover, #rsvp6:hover, #rsvp7:hover, #rsvp8:hover{
  background-color: rgb(181, 233, 166);
}
#info1:hover, #info2:hover, #info3:hover, #info4:hover, #info5:hover ,  #info7:hover, #info8:hover, #info6:hover {
background-color: rgb(233, 232, 103);
color: white;
}


#rsvp1, #rsvp2 , #rsvp3, #rsvp4, #rsvp5, #rsvp6, #rsvp7, #rsvp8{
  border: 1px solid black;
  height: 50px;
background-color: rgb(203, 124, 227);
font-family: sans-serif;
font-size: 12px;
color: white;
border-radius: 4px;
}
#info1, #info2, #info3, #info4, #info5 ,  #info7, #info8, #info6{
  border: 1px solid black;
  height: 50px;
background-color: rgb(113, 195, 226);
border-radius: 4px;
color: white;
font-size: 12px;
font-family: sans-serif;
}
#containers {
  border: 1px solid black;
  width: 20%;
  display: flex;
flex-direction: column;

}
#textContainer1 , #textContainer2, #textContainer3, #textContainer4,  #textContainer5, #textContainer6, #textContainer7, #textContainer8 {
  border: 1px solid gray ;
  background-color: white;;
  height: 100px;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}
#container1, #container2, #container3, #container4, #container5, #container6, #container7, #container8 {
  display: flex;
  flex-direction: row-reverse;
  }
  body{
margin: 0%;
  }
#meetups {
  font-size: 20px;
  color: gray;
  font-family: sans-serif;
  font-style: normal;
  text-decoration: none;
  float: left;
}
#meetups h2 {
  padding-left: 10px;
}
#navButton {
  /*border: 5px solid gray;*/
  padding:  10px;
  margin: 10px;
  width: 20%;
  display: inline;

}
#navButt {
padding:  2px;
  margin:10px;
  width: 15%;
  display: inline;
}
#bothButtons {
justify-content: flex-end;*/
display: inline;
float: right;
height: 20px;
}
#meetups h1 {
  display: inline;
}
#bothButtons a {
  display: inline;
}
#bothButtons button {
  margin: 20px;
  padding: 10px;
  width: 100px;
  font-family: sans-serif;
  font-size: 15px;
  color: gray;


}
#bothButtons button:hover {
  background-color:  gray;
  color: white;
}
#tori  {
  background-color: rgb(200, 195, 199);
}
/*SNOW*/
.snow-container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;

}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}
